@model weddingPlanner.Models.Dashboard
@using weddingPlanner.Models;

<h1>Welcome to the Wedding Planner</h1>

<table>
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guests</th>
        <th>RSVP?</th>
    </tr>
    @foreach(var wedding in Model.Weddings)
    {
        <tr>
            <td>
                <a asp-controller="Wedding" asp-action="detail" asp-route-wedding="@wedding.weddingsId">
                    @wedding.newlywedOne & @wedding.newlywedTwo
                </a>
            </td>
            <td>@wedding.date.ToString("d")</td>
            <td>@wedding.guests.Count</td>
            @if(wedding.guests.Where(item => item.usersId == Model.User.usersId).SingleOrDefault() == null)
            {
                <td><a asp-controller="Wedding" asp-action="rsvp" asp-route-wedding="@wedding.weddingsId">RSVP</a></td>
            }
            else
            {
                <td><a asp-controller="Wedding" asp-action="unrsvp" asp-route-wedding="@wedding.weddingsId">Un-RSVP</a></td>
            }
        </tr>
    }
</table>

<a asp-area="" asp-controller="Wedding" asp-action="add">Add a Wedding</a>